h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    background-color: aqua;
    color: blueviolet;
    text-align: center;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    color: black;
    background-color: cyan;

}
body{
    background-color: darkmagenta;
    text-align: center;
    list-style-position: inside ;
}
ul{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}
h2{
    background-color: cadetblue;
    color: black;
    font-size: 26px;
}
